html {
    background-color: #1c1c1c;
    color: #909090;
}
.header {
    display: inline;
    padding: 10px 0 0 10px;
    font-family: "IBM Plex Mono", monospace;
}
.hl {
    display: inline;
    color:white;
    font-family: "IBM Plex Mono", monospace;
    font-weight: bolder;
}
.text {
    padding-top:40px;
}