@font-face {
    font-family:'Tamzen';
    src:url('/src/Tamzen8x16r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Tamzen';
    src:url('/src/Tamzen8x16b.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
body {
    background-color:#eee;
    font-family:'Tamzen'
}
a:any-link {
    color:#4ad2e3;
    text-decoration:none
}
.main {
    background-color:white;
    display:flex;
    align-content:center
}