@font-face {
    font-family: 'vga';
    src: url('vga8x16.ttf')  format('truetype');
}
html {
    background-color:black;
    color:#707070;
    font-family:"vga";
}
h3 {
    color:#808080;
}
a {
    color:#808080;
    text-decoration-style: dotted;
}