html {
    background-color:#111;
    color:#ecc;
    font-family:Arial, Helvetica, sans-serif;
}
body {
    text-align:center;
    padding-top:40px;
}
a,
a:visited {
    color:#ecc;
    border-bottom:3px solid #ecc;
    text-decoration:none;
    padding-bottom:1px;
}
::selection,
::-moz-selection,
a:hover {
    background-color:#ecc;
    color:#111;
    text-decoration:none;
}
hr {
    border:2px solid #ecc;
    margin:7px 46vw 7px 46vw;
}