body {font-family:monospace;margin:3em;width:220px} /* set width to 900px for blogposts */
a:any-link {color:orangered;text-decoration:none}
hr {border:1px solid #ddd;width:160px;margin-left:0}
i {color:gray}