body {
    width:250px;
    color:#222;
    margin:5em 0 0 5em;
    font-family:monospace
}
a:any-link {
    color:#222;
    text-decoration:none;
    font-weight:bold
}
header * {
    display:inline
}
header p * {
    background-color: #f0f0f0;
    padding:1px;
    border-radius:1px
}