body {font-family:sans-serif;margin:30px 0 0 30px;background:#eee;color:#333}
a,a:visited {color:navy;text-decoration:none;border-bottom:solid 1px navy; padding-bottom:1px}
a:hover {border-color:transparent}