html {
    background-color:#222222;
    color:#e6e6e6;
    font-family:"Lato";
}
a {
    color:#ccd6e6;
    text-decoration:none;
}
a:visited {
    color:#ccd6e6;
    text-decoration:none;
}
a:hover {
    color:#ccd6e6;
    text-decoration:underline;
}
hr {
    border:dotted 1px #383838
}
