html {
    background-color:#1e1d1d;
    color:#d2b3a4;
    font-family:"Noto Sans"
}
li::marker {
    content:'▪  ';
}
body {
    margin:0;
}
.page {
    padding-left:10px;
}
.hbar {
    background-color:#363434;
}
.hbar h3 {
    margin:0;
    padding-left:10px;
    padding-top:5px;
    padding-bottom:5px;
}
hr {
    border: 3px solid #292727;
    margin-left:15px;
    margin-right:25px;
}
/* ============================ */
a {
    color:#d2b3a4;
    text-decoration:none;
}
a:visited {
    color:#d2b3a4
    text-decoration:none;
}
a:hover {
    color:#ecc9b8;
    text-decoration:underline;
}