html {
    background-color:#101010;
    color:#ffffff;
    font-family:"Work Sans"
}
.main {
    padding-top:50px;
    padding-left:30px;
    padding-right:30px
}
.img-div {
    margin-top:8px;
    margin-bottom:8px;
    border:3px solid #fff
}
.pfp {
    height:200;
    width:200;
    margin:0 auto;
    border-radius:100%
}